@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media screen and (min-width:665px) {
    .formz>input{
        display: flex;
    }
}
    
@media screen and (max-width:665px) {
    .formz>input{
        display: flex;
    }

}
@media screen and (max-width:460px) {
    .formz>input{
        display: flex;
        padding: 12px 25px;
    }
    .container{
        transition: 0.5s ease-in;
        display: flex;
        justify-content: center;
    }
    .btn{
        /* margin-left: 35%; */
        display: flex;
        /* justify-content: space-evenly; */
        padding: 12px 25px;
    }
}